<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="adminAction" class="cn.edu.nyist.ssh.action.AdminAction">
<property name="adminBiz" ref="adminBiz"></property>
</bean>
<bean id="adminBiz" class="cn.edu.nyist.ssh.biz.impl.AdminBizImpl">
<property name="adminDao" ref="adminDao"></property>
</bean>
<bean id="adminDao" class="cn.edu.nyist.ssh.dao.impl.AdminDaoHibImpl">
<property name="sessionFactory" ref="sessionFactory"></property>
</bean>
<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
</bean>

</beans>
